.container {
    width: 100%;
    margin: auto;
    padding: 20px;
}

.header {
    background-color: #0072B1;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav {
    background-color: #f3f3f3;
    padding: 10px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0072B1;
}

.footer {
    background-color: #0072B1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}